/* Add flex display to .navbar to place buttons horizontally */
.homepage{
  background-color: #FFFFE0;
}
.navbar {
  display: flex;
  overflow-x: visible; /* Add horizontal scroll for small screens */
  gap: 0px;

  
  white-space: nowrap;
  position: relative; /* Add relative positioning to the container */
}
.navbar-container{
  background-color: #F5F5DC;
  height: 100px;
}
.logo{
  top:20px;
  height: 50px;
  width: 50px;
  position: relative;
  left: 50px;
  border: 2px;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  margin-left: 0px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0; /* Position it at the left edge */
  transform: translateX(0); /* Reset any previous translation */
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Add other necessary styles */
}
.dropbttn:hover{
  background-color: #E6E6E6; /* Lighter color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Display the dropdown content when hovering over the dropdown */
.dropbttn:hover + .dropdown-content {
  visibility: visible;
  
  /* Reset any previous translation */
}

/* Add styles to .dropdown to arrange them horizontally */
.dropdown {
  margin: 10px;
  margin-left: 150px;
  position: relative; /* Ensure relative positioning */
}

/* Style the dropdown button */
.dropbttn {
  /* Add other necessary styles */
  border: 0px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px;
  
  background-color: #ADD8E6;

  cursor: pointer;
  position: relative;
  display: inline;
}

.dropdown-content a {
  display: block;
  border:1px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  color: coral;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
.dropdown-content:hover {
  visibility: visible;
  transform: translateX(0);
}
.dropdown-content a:hover {
  color: #FF0000;; /* New text color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow on hover */
}

/* Media query for small screens */
@media (max-width: 767px) {
  .homepage{
    background-color: transparent;
  }
  .logo{
    display: none;
  }
  
  .navbar {
    display: flex;
    overflow-x: visible; 
    gap: 0px;
    white-space: nowrap;
    position: relative; 
  }
  .navbar-container{
    background-color: transparent;
  }
 
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0; /* Position it at the left edge */
    transform: translateX(0); /* Reset any previous translation */
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;  
  }
  .dropbttn:hover + .dropdown-content {
    visibility: visible;
    
  }

  .dropdown {
    margin: 5px;
    position: relative; 
  }
  
  .dropbttn {
    border: 0px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;
    background-color: aliceblue;
    cursor: pointer;
    position: relative;
    display: inline;
  }
  
  .dropdown-content a {
    display: block;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:0px ;
    color: coral;
  }
  .dropdown-content:hover {
    visibility: visible;
    transform: translateX(0);
  }
}
